body { color: #FFF; }

.section { padding: 3em 0px; }
.blue-bg { background-color: #228; }
.cyan-bg { background-color: #004A80; }
.red-bg { background-color: #822; }
.dk-gry-bg { background-color: #333; }
.lt-gry-bg { background-color: #999; }
.white-text { color: #FFF !important; }
.center { text-align: center !important; }
.lato { font-family: "Lato" !important; }
.calistoga { font-family: "Calistoga" !important; font-weight: normal !imporant; }

.button-fb, .button-tw, .button-donate { display: inline-block; }
.button-fb > img, .button-tw > img, .button-donate > img { display: inline; }

.banner {
  background-color: #004A80;
  padding: 0;
  min-height: 200px;
}

.banner-image {
  box-sizing: border-box;
  min-height: 200px;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  margin: 0;
}

#sanders {
  background-image: url("../images/sanders.jpg");
}

#warren {
  background-image: url("../images/warren.jpg");
}

#logo img {
  margin: 8% 6%;
}

@media (max-width: 549px) {
  #logo {
    min-height: 100px;
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
  .banner {
    min-height: auto;
  }  
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .banner, .banner-image {
    min-height: 130px;
  } 
}

/* Larger than tablet */
@media (min-width: 750px) {
  .banner, .banner-image {
    min-height: 170px;
  }   
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .banner, .banner-image {
    min-height: 202px;
  }   
}

/* Action Network CSS Overrides */
#can_embed_form.can_float #form_col1, #can_embed_form.can_float #form_col2 { width: 100% !important; }
#can_embed_form h2, #can_embed_form h3, #can_embed_form h4,
#can_embed_form .international_link-wrap, #form_col2 .floatlabel-wrapper, #action_info, #logo_wrap {
  display: none !important; }
#can_embed_form #d_sharing { display: none !important; }
#form_col1::after { display: block; margin-bottom: 12px; font-size: 12px; line-height: 1.2; color: #888;
  content: "Thank you for joining our campaign to nominate a progressive candidate. By providing your email address and/or phone number you consent to receive recurring emails and mobile alerts from members of the Progressives Unite 2020 Coalition. Message & Data Rates May Apply. Text HELP for Info. Text STOP to opt out."; }