body { color: #FFF; }

.section { padding: 3em 0px; }
.padding-1em { padding: 1em !important; }
.blue-bg { background-color: #18274e; }
.cyan-bg { background-color: #004A80; }
.lt-cyan-bg { background-color: #F0FAFA; }
.red-bg { background-color: #822; }
.dk-gry-bg { background-color: #333; }
.lt-gry-bg { background-color: #999; }
.white-bg { background-color: #FFF; }
.white-text { color: #FFF !important; }
.black-text { color: #333 !important; }
.center { text-align: center !important; }
.lato { font-family: "Lato" !important; }
.calistoga { font-family: "Calistoga" !important; font-weight: 300 !imporant; }

.header {
  color: #c2f0f9;
  font-family: "Calistoga" !important; 
  font-weight: 300 !imporant;
}

#unityPhoto {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.button-fb, .button-tw, .button-donate { display: inline-block; }
.button-fb > img, .button-tw > img, .button-donate > img { display: inline; }

#strategyText h3 {
  font-size: 1.75em;
  line-height: 1.2em;
  font-family: "Calistoga" !important; 
  font-weight: 300 !imporant;
  margin-bottom: 0;
}

#strategyText h5, #strategyText p {
  line-height: 1.4em;
  margin-bottom: 0.75em;
}

#strategyText h5 {
  color: #FFFAC0;
}

#strategyText .step span {
  text-align: right;
  background-color: #305b95;
  color: #c8fca4;
  font-weight: bold;
  padding: 2px 8px 4px;
  margin-right: 12px;
  border-radius: 4px;
  width: 20%;
  display: block;
  float: left;
}

#strategyText a,
#strategyText a:visited {
  color: white;
}

#strategyText a:hover {
  color: #FFA;
}

#pledgeText {
  padding: 1em 1em 0; 
  color: black; 
  line-height: 1.2em;
}

#pledgeText h2 {
  font-size: 2em; 
  line-height: 1.2em;
  font-family: "Calistoga" !important; 
  font-weight: 300 !imporant;
  color: #004A80;
}  

#pledgeText p {
  margin-bottom: 0.75em;
}

.banner {
  background-color: #004A80;
  padding: 0;
}

#sanders {
  background-image: url("../images/sanders.jpg");
}

#warren {
  background-image: url("../images/warren.jpg");
}

#logo img {
  margin: 8% 6%;
}

@media (max-width: 549px) {
  #logo {
    min-height: 100px;
  }
  
  .mainHeader {
    font-size: 2em; 
  }
  
  #strategyText .step {
    font-size: 0.9em;
  }
  
  #strategyText .step span {
    width: 16%;
    padding: 8px 8px 4px;
    line-height: 1.2em;
  }
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) { 
}

/* Larger than desktop */
@media (min-width: 1000px) {  
}

/* Action Network CSS Overrides */
#can_embed_form.can_float #form_col1, #can_embed_form.can_float #form_col2 { width: 100% !important; }
#can_embed_form_inner > h2, #can_embed_form_inner > h3, #can_embed_form_inner > h4,
#can_embed_form .international_link-wrap, #form_col2 .floatlabel-wrapper, #action_info, #logo_wrap, .can_thank_you_wrap {
  display: none !important; }
#can_embed_form #d_sharing { display: none !important; }
#form_col1::after { display: block; margin-bottom: 12px; font-size: 12px; line-height: 1.2; color: #888;
  content: "Thank you for joining our campaign to nominate a progressive candidate. By providing your email address and/or phone number you consent to receive recurring emails and mobile alerts from members of the Progressives Unite 2020 Coalition. Message & Data Rates May Apply. Text HELP for Info. Text STOP to opt out."; }
#thanks { display: none; }
#can-petition-area-progressive-unity-pledge[style*="auto"] + #thanks { display: block; }
