body { color: #000; }

.section { padding: 3em 0px; }
.padding-1em { padding: 1em !important; }
.blue-bg { background-color: #18274e; }
.cyan-bg { background-color: #004A80; }
.lt-cyan-bg { background-color: #F0FAFA; }
.red-bg { background-color: #822; }
.dk-gry-bg { background-color: #333; }
.lt-gry-bg { background-color: #999; }
.white-bg { background-color: #FFF; }
.white-text { color: #FFF !important; }
.black-text { color: #333 !important; }
.center { text-align: center !important; }
.lato { font-family: "Lato" !important; }
.calistoga { font-family: "Calistoga" !important; font-weight: 300 !imporant; }

.header {
  font-size: 2em; 
  line-height: 1.2em;
  font-family: "Calistoga" !important; 
  font-weight: 300 !imporant;
  color: #004A80;
  margin-bottom: 0.2em;
  text-align: center !important;
}

#unityPhoto {
  margin-bottom: 1em;
  font-size: 0.3em;
  text-align: right;
}

#unityPhoto img {
  display: block;
  width: 100%;
}

.button-fb, .button-tw, .button-donate { display: inline-block; }
.button-fb > img, .button-tw > img, .button-donate > img { display: inline; }

#strategyText {
  line-height: 1.2em;
  margin-bottom: 0.75em;
}

#strategyText .step span {
  text-align: center;
  background-color: #305b95;
  color: #c8fca4;
  font-weight: bold;
  padding: 2px 8px 4px;
  margin-right: 12px;
  border-radius: 4px;
  width: 20%;
  display: block;
  float: left;
}

#strategyText a,
#strategyText a:visited {
  color: #069;
}

#strategyText a:hover {
  color: #09A;
}

#factContainer {
  position: relative; 
  height: 180px;
}

.fact {
  height: 180px;
  position:absolute;
  top: 0; 
  left: 0; 
  padding: 1em; 
  background-color: #F0FAFA;
  border-radius: 10px;
  color: #072;
}

#pledgeText {
  padding: 1em 1em 0; 
  color: black; 
  line-height: 1.2em;
}

#pledgeText h2 {
}  

#pledgeText p {
  margin-bottom: 0.75em;
}

#contactDisclaimer {
  font-size: 12px;
  color: #999;
}

.banner {
  background-color: #004A80;
  padding: 0;
}

#logo img {
  margin: 8% 6%;
}

@media (max-width: 549px) {
  #logo {
    min-height: 100px;
  }
  
  .mainHeader {
    font-size: 2em; 
  }
  
  #strategyText .step {
    font-size: 0.9em;
  }
  
  #strategyText .step span {
    width: 16%;
    padding: 8px 8px 4px;
    line-height: 1.2em;
  }
}

#motto {
  color: white;
  font-size: 2.25em; 
  line-height: 1.2em;
  font-family: "Calistoga" !important; 
  font-weight: 300 !imporant;
  text-align: center !important;
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) { 
}

/* Larger than desktop */
@media (min-width: 1000px) {  
}

/* ActionKit CSS Overrides */
.actionkit-widget {
  margin-bottom: 0;
  padding: 1em;
  background-color: #FFF;
  border: 1px solid #CCC;
}

.akFormField { margin-bottom: 1em; }
.akFormField input[type=text] { width: 100%; border-radius: 0px; margin-bottom: 0px; }

.akFormField.error input[type=text] {
  background-color: #FCC !important;
  border: 1px solid #F00 !important;
}

.akFormField.error .errorMsg {
  color: #F00;
}

.disclaimer { margin-bottom: 1.2em; font-size: 12px; color: #777; letter-spacing: -0.2px; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
  font-size: 14px;
  color: #FFF;
  background-color: #cd3a18;
  border: none;
  border-radius: 0px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #FFF;
  background-color: #e7390e;
}
