body {
  background-color: #efefef !important;
  overflow-x: hidden;
}

.footer-wrapper {background-color: #dfdfdf;}

.footer {background-color: #efefef;}

#logo {height: 80px;}

@media (max-width: 767px) {
  #header {padding-left: 12px;}
  .address, .footer-links {text-align: center;}
}

@media (min-width: 768px) {
  .address {float: left; padding-left: 12px;}
  .footer-links {float: right; padding-right: 12px;}
}

@media (max-width: 979px) {

}

@media (min-width: 978px) {

}

@media (max-width: 480px) {
  .mobile-show {display: visible;}
  .mobile-hide {display: none;}
}

@media (min-width: 481px) {
  .mobile-show {display: none;}
  .mobile-hide {display: visible;}
}

h2 {
  line-height: 1.2em !important;
}

/*
@font-face{font-family:'Grueber-Bold';src:url('https://d2whgtudg2hrtn.cloudfront.net/31442123-2E0C-F066-BDE1-4B17FE4D177B.iot.fwoff.v8.sAL2.h0.o0?Expires=1362235887&Signature=lbzkpHOE~M3xayn~atgPJLZPxc-h5inGzFA~S2g7UHwD1~Maw8rEqgoPUn~AOZNwDZO-kMuiB1NVsqdBcWXhc68MZg8TfW7NHBzH5g1W~LY68HT7D3a9CkcgUW1b168e3KOAjwp~BPIs74jzIJb8Az5I8EbXu~ovDMUoSUMVEe8_&Key-Pair-Id=APKAIRPJ6HGXMNBFEG4A') format('woff');font-weight:normal;font-style:normal;}
*/
